@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900 dark:bg-zinc-950 dark:text-zinc-200 transition-colors duration-300;
  }
  
  /* Custom Scrollbar for Webkit */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-300 dark:bg-zinc-800 rounded-full;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-400 dark:bg-zinc-700;
  }
}
